<h1>Editing atividade</h1>

<%= render "form", atividade: @atividade %>

<br>

<div>
  <%= link_to "Show this atividade", @atividade %> |
  <%= link_to "Back to atividades", atividades_path %>
</div>
